<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asfixy - Error</title>
    <link rel="stylesheet" href="/static/styles/error.css">
</head>
<body>
    <canvas id="bg"></canvas>
    <div class="card">
        <h1>{{TITLE}}</h1>
        <p>{{DESCRIPTION}}</p>
        <a href="{{BTN_HREF}}" class="btn">{{BTN_TEXT}}</a>
    </div>
    <script nonce="{{NONCE}}" src="/static/js/error.js"></script>
</body>
</html>